* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-text-color: #212121;
	--text-color-hover: #2196f3;
	--accent-color: #ffffff;
}

html {
	box-sizing: border-box;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #ffffff;
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	list-style: none;
}
h1,
h2,
h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

/* nav section */

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	width: 1200px;
}

/* header */

/* nav-section */
.nav-section {
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav-section,
.nav,
.contacts {
	display: flex;
}
/* logo */
.logo {
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 25px;

	color: #000000;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.logo-part-one {
	color: var(--text-color-hover);
}

/* nav */

.nav {
	margin-left: 85px;
}
.nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primary-text-color);
	text-decoration: none;
}
.nav .link:hover,
.nav .link:focus {
	color: var(--text-color-hover);
}

.nav .item + .item {
	margin-left: 50px;
}

/* contacts */

.contacts {
	margin-left: auto;
}

.contacts .link {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	align-items: center;

	color: #757575;
	text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
	color: var(--text-color-hover);
}
.icon-mail {
	width: 16px;
	height: 11px;
	margin-right: 10px;
}
.icon-mail:hover {
	fill: var(--text-color-hover);
}
.icon-phone {
	width: 10px;
	height: 15px;
	margin-right: 10px;
}
.icon-phone:hover {
	fill: var(--text-color-hover);
}
/* .contacts .link:before {
	content: "";
	width: 16px;
	height: 11px;
	color: #757575;
	margin-right: 10px;
}
.contacts .mail::before {
	background-image: url(../images/header/mail.svg);
}
.contacts .number::before {
	width: 10px;
	height: 15px;
	background-image: url(../images/header/phone.svg);
} */

.contacts .item + .item {
	margin-left: 30px;
}

/* main */

/* hero */

.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;

	text-align: center;
	color: var(--accent-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero.jpg);
	/* background-image: url(../images/Hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
}

.hero-title {
	margin-top: 0px;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero-button {
	display: inline-block;
	padding: 10px 32px;

	color: var(--accent-color);
	background-color: var(--text-color-hover);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	letter-spacing: 0.06em;
	text-decoration: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
/* section with features of the company */

.features {
	display: flex;
	padding-top: 94px;
	padding-bottom: 94px;
}

.features .item {
	width: calc((100% - 90px) / 4);
	margin-right: 30px;
}

.features .item:last-child {
	margin-right: 0;
}

.features .item:before {
	display: block;
	margin-bottom: 30px;
	content: "";
	height: 120px;
	background-color: #f5f4fa;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: center;
}
.features .icon-antenna:before {
	background-image: url(../images/features-of-company/antenna.svg);
}
.features .icon-clock::before {
	background-image: url(../images/features-of-company/clock.svg);
}
.features .icon-diagram::before {
	background-image: url(../images/features-of-company/diagram.svg);
}
.features .icon-astronaut::before {
	background-image: url(../images/features-of-company/astronaut.svg);
}

.section-title {
	margin-bottom: 10px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.section-text {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-size: 14px;
	line-height: 1.71;
}
/* company specialization */

.specialization {
	display: flex;
	padding-bottom: 94px;
}

.specialization .item {
	width: calc((100% - 30px) / 3);
	margin-right: 30px;
}

.specialization .item:last-child {
	margin-right: 0;
}

.specialization-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.specialization-text {
	padding-top: 27px;
	padding-bottom: 27px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(47, 48, 58, 0.8);
	color: var(--accent-color);
}

/* the team of company */
.section-team {
	background-color: #f5f4fa;
	padding-top: 94px;
	padding-bottom: 94px;
}
.our-team {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.team {
	display: flex;
}

.team .item {
	width: calc((100% - 90px) / 4);
	margin-right: 30px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
}
.team .item:last-child {
	margin-right: 0;
}

.block-person {
	padding-top: 30px;
	padding-bottom: 24px;
	padding-left: 32px;
	padding-right: 32px;
	background: #ffffff;
}

.section-team .person {
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
}
.section-profession {
	margin-top: 0px;
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.18;
	color: #757575;
	text-align: center;
}

.social-list {
	display: flex;
}
.social-list .social-item {
	width: calc((100% - 30px) / 4);
	margin-right: 10px;
}
.social-list .social-item:last-child {
	margin-right: 0px;
}

.social-item .link {
	width: 44px;
	height: 44px;
	display: block;
}
.icon-social {
	width: 44px;
	height: 44px;
}
.icon-social:hover {
	--color1: var(--text-color-hover);
	--color2: var(--accent-color);
}

/* customers */

.customer-list {
	padding-top: 94px;
	padding-bottom: 94px;
}

.customers-title {
	margin-top: 0px;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.customers {
	display: flex;
}

.customers .item {
	width: calc((100% - 150px) / 6);
	margin-right: 30px;
}
.customers .item:last-child {
	margin-right: 0px;
}

.customers .link {
	width: 170px;
	height: 90px;
	display: block;
	vertical-align: bottom;
	border: 1px solid #afb1b8;
	box-sizing: border-box;
	border-radius: 4px;
}

.yaco {
	width: 44px;
	height: 50px;
}
.tagline {
	width: 40px;
	height: 52px;
}
.company {
	width: 41px;
	height: 42px;
}
.foster-peters {
	width: 80px;
	height: 42px;
}
.brand {
	width: 59px;
	height: 47px;
}
.tag-line {
	width: 89px;
	height: 46px;
}

/* footer */
.footer {
	background-color: #2f303a;
}
.footer-list {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.footer-adrress {
	width: calc((100% - 60px) / 4);
	padding-top: 60px;
	padding-bottom: 60px;
}
.logo-down {
	display: inline-block;
	margin-bottom: 20px;

	color: #000000;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}

.logo-part-two {
	color: var(--accent-color);
}
.adrress {
	display: flex;
	color: var(--accent-color);
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	flex-direction: column;
}

.adrress .item {
	margin-bottom: 9px;
}
.adrress .item:last-child {
	margin-bottom: 0;
}
.adrress .link {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

/* join-in */

.join-in {
	width: calc((100% - 60px) / 4);
}

.join-in-title {
	color: var(--accent-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.join-in .list {
	display: flex;
	margin-top: 20px;
}

.join-in .item {
	margin-right: 10px;
}

.join-in .item:last-child {
	margin-right: 0px;
}
.join-in .link {
	width: 44px;
	height: 44px;
	display: block;
}

.icon-social-footer {
	width: 44px;
	height: 44px;
	--color1: rgba(255, 255, 255, 0.1);
	--color2: #ffffff;
}
.icon-social-footer:hover {
	--color1: var(--text-color-hover);
	--color2: var(--accent-color);
}

/* subscribe */

.subscribe {
	width: calc((100% - 60px) / 2);
}
.subscribe-title {
	display: inline-block;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--accent-color);
}
.subscribe .list {
	display: flex;
}
.subscribe-input {
	padding: 15px 295px 15px 16px;
	margin-right: 12px;
	width: max-content;
	font-size: 16px;
	line-height: 1.25;

	border: 1px solid rgba(255, 255, 255, 0.3);
	/* box-sizing: border-box; */
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
	border-radius: 4px;

	color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
	display: inline-flex;
	padding: 10px 28px 10px 29px;
	font-weight: 700;

	font-size: 16px;
	line-height: 1.9;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	letter-spacing: 0.06em;
}

.subscribe-button::after {
	content: "";
	width: 24px;
	height: 24px;
	margin-left: 10px;

	color: var(--accent-color);
	background-image: url(../images/footer/paper-plane-footer.svg);
}

/* .footer-copyrights {
	padding-top: 18px;
	padding-bottom: 21px;

	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-size: 12px;
	line-height: 2;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
} */

/* Portfolio */

.border-header {
	border-bottom: 1px solid #ececec;
}
.portfolio-list {
	padding-top: 94px;
	padding-bottom: 94px;
}

.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filter .item:not(:last-child) {
	margin-right: 8px;
}

.button-filter {
	padding: 6px 22px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	background: #f5f4fa;
	border-radius: 4px;
}
.button-filter:hover,
.button-filter:focus {
	background-color: var(--text-color-hover);
	color: var(--accent-color);
}

.filter-list {
	display: flex;
	flex-wrap: wrap;
}

.filter-list .item {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;

	box-sizing: border-box;
	/* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12); */
}

.filter-list .item:nth-child(3n) {
	margin-right: 0px;
}

.filter-list .item:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}

/* Примеры альтернативы */
/* Пример 1 */
/* .filter-list .item:not(:nth-child(3n)) {
	margin-right: 30px;
} */

/* .filter-list .item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}
Пример 2
	margin: -15px;
	width: 370px;  - в контейнере родителе

	margin: 15px; - в потомках (li class="Item")

*/

.filter-list .link {
	width: 370px;
	height: 404px;
	display: block;
	text-decoration: none;
	color: var(--primary-text-color);
}

.filter-content {
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	border-top: none;
	box-sizing: border-box;
}

.filter-heading {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.filter-caption {
	margin-top: 0px;
	font-size: 16px;
	line-height: 1.87;
	color: #757575;
}
